<html>
    <head>

    </head>
    <body>
        <form method="POST" action="printMultiTable">
            <table>
                <tr>
                    <td>Enter Start Number:</td>
                    <td>
                        <input type="number" required name="startNum">
                    </td>
                </tr>

                <tr>
                    <td>
                        Enter Stop Number:
                    </td>
                    <td>
                        <input type="number" required name="stopNum">
                    </td>
                </tr>

                <tr>
                    <td>
                        <input type="reset">
                    </td>
                    <td>
                        <input type="submit" value="Print Multi Table">
                    </td>
                </tr>
            </table>
        </form>
    </body>
</html>